{{ $dateTime := .PublishDate.Format "2006-01-02" }}
<!-- prettier ignore -->
{{ $dateFormat := .Site.Params.dateFormat | default "2 Jan 2006" }}
<div class="b2 ph4 center" style="width: max-content">
  <time datetime="{{ $dateTime }}" class="b f6 i lh-copy"
    >{{ .PublishDate.Format $dateFormat }}</time
  >
  <br />
  {{ with .Params.tags }} {{ range . }}
  <!-- prettier ignore -->
  {{ $href := print (absURL "tags/") (urlize .) }}
  <a
    class="btn btn-sm btn-outline-dark dark-blue tag-btn ph1 f6"
    href="{{ $href }}"
    >#<span class="f7"></span>{{ . }}</a
  >
  {{ end }} {{ end }}
</div>
