{{ define "main" }}
<div class="tc black">
  <main id="main" class="index mh2">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "==" "posts") }}
    {{ range $paginator.Pages }}
    <div
      class="mw6 mw7-ns center bg-white pt2 pb3 ph5-ns ph3 br2 shadow-2 mv4-ns mv3"
    >
      <h2>
        <a
          href="{{ .Permalink }}"
          class="black ttu f4 dark-blue fw7 no-underline"
          >{{ .Title }}</a
        >
      </h2>
      {{ if ne .Params.tags nil }}
      <div>{{ partial "metadata.html" . }}</div>
      {{ end }}
      <div class="tl lh-copy">{{ .Content }}</div>
    </div>
    {{ end }} {{ if or $paginator.HasPrev $paginator.HasNext}}
    <div class="paginator">
      {{ if $paginator.HasPrev }}
      <a
        class="fw6 link dim ba bw1 pa2 mb2 dib white rounded br1"
        href="{{ $paginator.Prev.URL }}"
        >← prev</a
      >
      {{ else }}
      <a></a>
      {{ end }} {{ if $paginator.HasNext }}
      <a
        class="fw6 link dim ba bw1 pa2 mb2 dib white rounded br1"
        href="{{ $paginator.Next.URL }}"
        >next →</a
      >
      {{ else }}
      <a></a>
      {{ end }}
    </div>
    {{ end }}
  </main>
</div>
{{ end }}
